NEXT_PUBLIC_APP_NAME="FinanceOS Private"
NEXT_PUBLIC_AUTH_PROVIDER=supabase
NEXT_PUBLIC_DATA_SOURCE=supabase
NEXT_PUBLIC_SUPABASE_URL="https://SEU-PROJETO.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="SUA_ANON_KEY"
